<html>
    <head>
        {% if title %}
        <title>{{ title }} - Fantasy Football</title>
        {% else %}
        <title>Wilkommen to FF</title>
        {% endif %}
    </head>
    <body>
        <div>Fantasy Football: <a href="/index">Home</a><a href="/myteam">My Team</a></div>
        <hr>
        <ul>
        {% for player in players %}
            <li> Name : {{player[0]}}, 2016 Score: {{player[1]}}</li>
        </ul>
        {% endfor %}
        {% block content %}{% endblock %}
    </body>
</html>